/* Site Styles */
* {
    margin: 0;
    padding: 0;
}

/*Typogrphay*/
body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #555555;
    text-align: center;
    background-color: #f0f0f0;
}

header {
    background-color: #13110F;
    padding: 20px 0px;
}

.container {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 90vh;
    margin: 15px;
}

.title {
    font-family: 'Bungee Inline', cursive;
    color: #3E6ADA;
    letter-spacing: 2px;
    font-size: 32px;
    display: inline-block;
}

.slithery {
    font-size: 32px;
    fill:#B2C3F0;
    stroke: #B2C3F0;
    stroke-width: 1px;
}

.s {
    margin-right: 3px;
    position: relative;
    top: 9px;

}

main {
    width: fit-content;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

/*Scoreboard Styles*/
.scoreboard {
    font-weight: 300;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 30px;
    
}
.scoreboard-item {
    width: 200px
    
}

.score-header {
    font-family: 'Bungee Inline', cursive;
    font-size: 18px;
    color: #808080;
}

.score {
    font-family: 'Michroma', sans-serif;
    font-size: 24px;
    color: #000000;
    margin: 0 5px;
    padding: 2px 10px;
    border-radius: 5px;
    display: block;
}

.gameboard {  
    
    padding: 15px 15px;
    background-color: #231F1C;
    border-radius: 0 0 30px 30px;
}

.cells {
     display: flex;
     flex-wrap: wrap;
}
.cell {
    /* background-color: blue; */
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: #fff solid
}
/* Fruit styles*/
.fruit {
    border-radius: 50%;
    border: 3px #231F1C solid;
}
.fruit--red {
    background-color: #F25846;
}
.fruit--yellow {
    background-color: #E09E57;
}
.fruit--blue {
    background-color: #3E6ADA;
}
/* Snake styles*/
.snake {
    background-color: #FF9C1B;
}

/* Styles for gitpages and documentation*/
iframe {
    margin: 20px 0;
}

.back-btn {
    position:fixed;
    background-color: hsla(60, 1%, 37%, 0.712);
    
    padding: 10px 20px;
    margin:0px;
    right:0px;
    bottom: 50px;
    border-radius: 30px;
    margin-right: 20px; 
    cursor:pointer;
}

.back-btn:focus,
.back-btn:hover{
    border: #ffffff solid 2px;
    background-color: hsla(60, 1%, 37%, 0.9);
}
.back-btn a {
    text-decoration: none;
    color: #ffffff;
}