/* Site Styles */
* {
    margin: 0;
    padding: 0;
}

/*Typogrphay*/
body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #555555;
    text-align: center;
    background-color: #f0f0f0;
}

.title {
    font-family: 'Bungee Inline', cursive;
    border-bottom: 10px solid #555;
    border-radius: 5px;
    display: inline-block;
}

.slithery {
    font-family: 'Sansita Swashed', cursive;
    font-size: 45px;
}


h1 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
}


main {
    width: fit-content;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

/*Scoreboard Styles*/
.scoreboard h2 {
    font-weight: 300;
    margin: 5px 0;
}

.score {
    margin: 0 5px;
    color: #fff;
    padding: 2px 10px;
    background-color: #3d3d3d;
    border-radius: 5px;
    display: inline-block;
}

.gameboard {  
    margin: 20px 50px;
    padding: 25px 0;
}

.cells {
     display: flex;
     flex-wrap: wrap;
}
.cell {
    background-color: blue;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: solid #fff 1px;
}